<div class="fondo">
    <div class="userbox">
        <div class="users" >
            <a class="title">Usuarios</a>
            <p class="subtitle">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="preview">
            <img  src="../../assets/Images/eye.svg" alt="">
            <span class="preview-text"> Previsualizar </span>
        </div>
        <div class="new-user">
            <img  src="../../assets/Images/add.svg" alt="">
            <span class="user-text"> Agregar nuevo usuario </span>
        </div>
    </div>

    <div class="user-grid">
        <div class="buscador">
            <img src="../../assets/Images/search.svg" alt="">
            <span class="placeholder">Busqueda</span>
            <input type="Busqueda">
        </div>
    </div>
</div>
